html, body {
    margin: 0;
 }

.curso {
    height: 55px;
    width: 150px;
    border: 1px solid #369bbf;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #369bbf;
    font-size: 20px;
    margin: 10px;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(criatividade1.jpg);
}

.corpo{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .ativar{
    height: 55px;
    width: 150px;
    border: 1px solid #ebd82d;
    border-radius: 5px;
    position: fixed;
    background-color:#ebd82d;
    font-size: 20px;
    bottom: 10%;
    right: 9%;
 }

 .concluir{
    height: 30px;
    width: 160px;
    border: 1px solid #ebd82d;
    border-radius: 5px;
    background-color:#ebd82d;
    font-size: 20px;  
 }

 .clicked {
 }

 .certificado{
    height: 30px;
    width: 160px;
    border: 1px solid #ebd82d;
    border-radius: 5px;
    background-color:#ebd82d;
    font-size: 20px;
  
  
 }